@font-face {
  font-family: 'CoreSansLight';
  src: url('../fonts/CoreSansLight.woff') format('woff'),
          url('../fonts/CoreSansLight.ttf') format('truetype'),
          url('../fonts/CoreSansLight.eot') format('eot'),
          url('../fonts/CoreSansLight.otf') format('otf'),
          url('../fonts/CoreSansLight.svg#CoreSansLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'skyforge_digits';
  src: url('../fonts/skyforge_digits.woff') format('woff'),
          url('../fonts/skyforge_digits.ttf') format('truetype'),
          url('../fonts/skyforge_digits.eot') format('eot'),
          url('../fonts/skyforge_digits.otf') format('woff2'),
          url('../fonts/skyforge_digits.svg#skyforge_digits') format('svg');
  font-weight: normal;
  font-style: normal;
}


