*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
}

a{
  text-decoration: none;
}



body {
  margin: 0;
  font-family: 'CoreSansLight';
  height: 100%;
}

header,
nav,
section,
article,
aside,
footer {
  display: block;
}

.btn{
  background-color: rgba(#c20000,0.8);
  width 290px
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px
  color: #fff
  font-size 18px
  font-family: 'CoreSansLight';
  transition 0.3s
  &:hover{
    background-color: #c20000
    transition 0.3s
  }
}