@require './global.styl'
@require './fonts.styl'
@require 'block/page.styl'
@require 'block/header.styl'
@require 'block/menu.styl'
@require 'block/lang.styl'
@require 'block/social.styl'
@require 'block/bg.styl'
@require 'block/user.styl'
@require 'block/article.styl'
@require 'block/footer.styl'

