.page{
  background: url(../img/bg.png);
  background-size: cover;
  background-position: center 110px;
  min-height: 100vh;
  &__wrapper{
    position: relative;
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding-top: 325px;
  }
}